# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Typically these files are written by PyInstaller
#  when packaging an application.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pytest
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# VS Code settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# Virtual environments
venv/
ENV/
env/
env.bak/
venv.bak/
myenv/
myenv
# Docker
*.log
